Source: dfex
Architecture: all
Priority: optional
Maintainer: Matthew Tytel <matthewtytel@gmail.com>
Standards-Version: 3.7.2
Build-Depends: libjack0, jackd, fftw3, libboost-thread-dev

Package: dfex
Homepage: http://github.com/mtytel/dfex
Description: dfex is an experimental digital audio effects pedal

